# Database Configuration
# Default SQLite
# DATABASE_URL=sqlite:///./contratos.db

# PostgreSQL (Docker example)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/contractacio

# Other configurations
SECRET_KEY=your-secret-key-here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
